/* GLOBAL VARIABLES */
:root {
	--selective-blue: hsl(210, 69%, 25%);
	--selective-blue-2: hsl(210, 69%, 19%);
	--selective-blue-3: hsl(210, 69%, 35%);
	--sky-blue: hsl(220, 48%, 90%);
	--light-gray: hsl(233, 100%, 98%);
	--light-gray-2: hsl(233, 100%, 88%);
	--dark-gray: hsl(225, 20%, 48%);
	--white: hsl(0, 0%, 100%);
	--spooky-black-1: hsl(0, 0%, 9%);
	--spooky-black-2: hsl(180, 3%, 7%);
	--spooky-black-3: hsla(0, 0%, 0%, 0.06);

	--border-color: #e7eaee;
	--border-color2: hsl(214, 17%, 92%);


	--body-bg: #f8f9fa;

	--quick-silver: hsl(0, 0%, 65%);
	--radical-red: hsl(351, 83%, 61%);
	--isabelline: hsl(36, 33%, 94%);
	--gray-x-11: hsl(0, 0%, 73%);
	--kappel_15: hsla(170, 75%, 41%, 0.15);
	--platinum: hsl(0, 0%, 90%);
	--gray-web: hsl(0, 0%, 50%);
	--black_80: hsla(0, 0%, 0%, 0.8);
	--white_50: hsla(0, 0%, 100%, 0.5);
	--black_50: hsla(0, 0%, 0%, 0.5);
	--black_30: hsla(0, 0%, 0%, 0.3);
	--kappel: hsl(170, 75%, 41%);
	--kappel: hsl(195, 71%, 31%);

	/**
	 * gradient color
	 */

	--gradient: linear-gradient(-90deg, hsl(151, 58%, 46%) 0%, hsl(170, 75%, 41%) 100%);

	/**
	 * typography
	 */

	--ff-league_spartan: 'League Spartan', sans-serif;
	--ff-poppins: 'Poppins', sans-serif;

	--fs-1: 4.2rem;
	--fs-2: 3.2rem;
	--fs-3: 2.3rem;
	--fs-4: 1.8rem;
	--fs-5: 1.5rem;
	--fs-6: 1.4rem;
	--fs-7: 1.3rem;
	--fs-8: 1.1rem;

	--fw-500: 500;
	--fw-600: 600;
	--fw-400: 400;

	/* Line height */
	--lh-1: 1.5;

	/**
	 * spacing
	 */

	--section-padding: 75px;

	/**
	 * shadow
	 */

	--shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
	--shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
	--shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);

	/**
	 * radius
	 */

	--radius-pill: 500px;
	--radius-circle: 50%;
	--radius-3: 3px;
	--radius-5: 5px;
	--radius-10: 10px;

	/**
	 * transition
	 */

	--transition: 0.25s ease;
	--transition-2: 0.5s ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* SCROLL BAR */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 80%);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 70%);
}

body {
	font-family: var(--ff-poppins);
	background-color: var(--white);
	line-height: var(--lh-1);
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

a,
img,
span,
data,
time,
input,
button,
textarea,
select {
	font: inherit;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	text-align: center;
	font: inherit;
}

i {
	font-size: 1.2rem;
}

p,
h1,
h3,
h4,
h5,
h6,
a {
	color: var(--spooky-black-1);
}

i {
	vertical-align: middle;
	/* font-size: 20px; */
}

/* RESET END */

/* UTILITIES */

.container {
	width: min(1200px, 100% - 2rem);
	margin-inline: auto;
	/* background-color: lightpink; */
	overflow: hidden;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 3rem;
}

.btn {
	color: var(--white);
	background-color: var(--selective-blue);
	font-size: .8rem;
	padding: 3px 10px;
	white-space: normal;
	border-radius: var(--radius-5);
	box-shadow: 0 0 2px var(--black_80);
	transition: 0.2s ease-out;
}

.btn-danger {
	background-color: var(--radical-red);
}

.btn:hover {
	background-color: var(--selective-blue-3);
}

.btn-danger:hover {
	background-color: hsl(351, 81%, 65%);
}

.bi-plus-square {
	margin-right: 5px;
}

.disabled {
	pointer-events: none;
	opacity: .6;
}

.main {
	margin-top: 1.3rem;
	margin-left: 0px;
	margin-right: 0px;
}

.contact__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
}

.contact__item {
	width: 100%;
	background-color: #ecf1f1;
	padding: .88rem;
	border-radius: var(--radius-5);
	cursor: pointer;
	min-height: max-content;
	/* max-width: 280px; */
}

.contact__header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 12px;
}

.contact__image {
	width: 50px;
}

.contact__image img {
	width: 100%;
	border: 3px solid var(--selective-blue);
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
	border-radius: var(--radius-circle);
}

.contact_name {
	color: #3c3f3f;
	font-size: 1.25rem;
	text-align: center;
	font-weight: 600;
}

.contact_title {
	font-size: 11px;
	background-color: #dfe7e8;
	color: var(--kappel);
	text-align: center;
	border-radius: 13px;
	font-weight: 600;
	padding: 2px;
}

.contact__body {
	margin-top: 1rem;
}

/* .contact__body>p:not(:last-child) {
	margin-bottom: .35rem;
} */

.contact__body>p {
	font-size: 14px;
	margin-bottom: .35rem;
	margin-left: 8px;
	font-weight: 500;
}

.contact__body>p i {
	color: #75777a;
	font-size: 20px;
	margin-right: 8px;
	-webkit-text-stroke: .5px;
}

.contact__body>p i::before {
	color: var(--kappel);
	background-color: #dfe7e8;
	padding: 7px;
	border-radius: var(--radius-circle);
}

.pagination {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	margin-bottom: 10rem;
}

.pagination a {
	color: black;
	padding: 5px 10px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	cursor: pointer;
}

.pagination a:first-child {
	border-top-left-radius: var(--radius-5);
	border-bottom-left-radius: var(--radius-5);
}

.pagination a:last-child {
	border-top-right-radius: var(--radius-5);
	border-bottom-right-radius: var(--radius-5);
}

.pagination a.active {
	background-color: var(--selective-blue);
	color: white;
	border: 1px solid var(--selective-blue);
}

.pagination a:hover:not(.active) {
	background-color: #ecf1f1;
}

/* PROFILE */

.profile {
	display: grid;
	grid-template-columns: 360px 1fr;
	/* grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr)); */
	align-items: start;
	gap: 1rem;
	margin-top: 2rem;
}

.profile__details {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	background-color: #ecf1f1;
	padding: 10px;
	border-radius: var(--radius-5);
}

.profile__details img {
	width: 120px;
	border-radius: var(--radius-5);
	border: 3px solid var(--selective-blue);
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
}

.profile__name {
	color: #3c3f3f;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: .2rem;
}

.profile__muted {
	font-size: 12px;
	color: #75777a;
	margin-bottom: 1rem;
}

.profile__settings {
	background-color: #ecf1f1;
	padding: 10px;
	border-radius: var(--radius-5);
}

.divider {
	/* margin-top: 1rem; */
	height: 2px;
	background: hsla(210, 10%, 23%, 0.07);
}

/* Modal */
.modal {
	position: fixed !important;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.3rem;
	width: 100%;
	max-width: 550px;
	user-select: text;
	visibility: visible;
	overflow: hidden;
	border: none;
	border-radius: 5px;
	height: max-content;
}

.modal::backdrop {
	background-color: rgb(0 0 0 / .7);
	opacity: .5;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: .8rem;
}

.modal__header i {
	cursor: pointer;
}

.modal__header i::before {
	border-radius: 50%;
	padding: .5rem;
	background-color: hsl(0, 0%, 90%);
}

.modal__header i:hover::before {
	background-color: hsl(0, 0%, 90%);
}

.modal__body {
	/* overflow: hidden; */
	overflow-y: hidden;
	/* Hide vertical scrollbar */
	overflow-x: hidden;
	/* Hide horizontal scrollbar */
}

.modal__footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	bottom: 1.5rem;
	margin-top: 15px;
}

.modal__footer .btn {
	padding: 7px 15px;
}

dialog[open] {
	animation: fadeIn .8s ease normal;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


/* Media Queries */

@media (max-width: 900px) {
	.profile {
		grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
	}
}

@media (max-width: 389px) {
	.profile__details {
		justify-content: center;
		place-self: center;
		width: 100%;
	}

	.profile__settings {
		place-self: center;
	}

	.profile__metadata {
		text-align: center;
	}
}


/* IMPORTED STYLES */
.user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
	/* min-height: 600px; */
}

.input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}

.details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #e6e1e1;
	transition: all 0.3s ease;
}

.input-box input:is(:focus, :valid) {
	border-color: #b9b7ba;
}

input[type=file]::file-selector-button {
	color: var(--white);
	background-color: var(--selective-blue);
	font-size: .8rem;
	padding: 7px 15px;
	white-space: normal;
	border-radius: var(--radius-5);
	border: none;
	box-shadow: 0 0 2px var(--black_80);
	transition: 0.2s ease-out;
	/* content: ""; */
}

input[type=file]::file-selector-button:hover {
	background-color: var(--selective-blue-3);
}

.form_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

.form_footer .btn {
	padding: 7px 15px;
}

@media(max-width: 584px) {

	/* .container{
	max-width: 100%;
  } */
	form .user-details .input-box {
		margin-bottom: 15px;
		width: 100%;
	}

	form .category {
		width: 100%;
	}

	/* .user-details {
		max-height: 300px;
		overflow-y: scroll;
	} */

	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}

@media(max-width: 459px) {
	/* .container .content .category{
	  flex-direction: column;
	} */
}